.container-fluid{
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
main{
}
.content{
    background-color: rgb(35, 35, 51);
    overflow-y: scroll;
    position: relative;
    padding-top: 70px;
}
main{
    height: calc(100vh - 90px);
}
.topbar{
    height: 70px;
    max-width: calc((100% / 12) * 10);
    min-width: calc((100% / 11) * 11);
    position: fixed;
    top: 0;
    background-color: rgba(39, 57, 150, 0.4);
}
.bottombar{
    max-width: calc((100% / 12) * 10);
    min-width: calc((100% / 11) * 11);
    border: 1px solid white;
    display: flex;
    justify-content: center;
}
.bottombar ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contenitore{
    max-width: calc((100% / 12) * 10);
    min-width: calc((100% / 11) * 11);
    border: 1px solid red;
    color: white;
    padding: 15px;
}
.bottombar ul li a{
    color: lightgray;
    padding: 0 10px;
}
.box-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    border: 1px solid green;
}
.box-container-2{
    display: flex;
    justify-content: flex-start;
    border: 1px solid green;
}
.box{
    width: 150px;
    height: 200px;
    border: 1px solid white;
    margin: 5px;
}
.aside{
    height: calc(100vh - 90px);
    background-color: black;
    border: 1px solid black;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-aside ul li, .middle-aside ul li, .bottom-aside ul li{
    margin: 10px 0;
    color: lightgray;
    opacity: .6;
}
.top-aside ul li a, .middle-aside ul li a, .bottom-aside ul li a{
    color: lightgray;
    opacity: .6;
}
.icons-aside{
    width: 20px;
    vertical-align: middle;
}
.plus{
    font-size: 35px;
    vertical-align: middle;
}
.icon-bot-aside{
    width: 15px;
}
.logo{
    width: 90%;
}
.nav{
    height: 90px;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-footer, .center-footer, .right-footer{
    border: 1px solid white;
    color: white;
}
.left-footer, .right-footer{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.center-footer{
    flex-grow: 1;
}
.sinister-small{
    width: 30%;
    border: 1px solid red;
}
.sinister-small img{
    width: 100%;
}
.name-song{
    width: 40%;
    padding: 0 10px;
    border: 1px solid red;
}
.name-song h2{
    font-size: 10px;
}
.name-song .description{
    font-size: 8px;
    line-height: 1.4;
}
.icons-song{
    width: 20%;
    display: flex;
    border: 1px solid red;
}
.icons-song .icons-box{
    padding: 0 5px;
}
.controller-vol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.controller{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.icon-control{
    padding: 0 5px;

}
.bot-controller{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.minuts{
    width: 10%;
    font-size: 15px;
}
.vol-center{
    width: 90%;
}
.vol-center-item{
    border-bottom: 5px solid lightgray;
    width: 100%;
}
.icons-right{
    width: 30%;
    display: flex;
}
.icons-item{
    padding: 0 5px;
}
.vol-right{
    width: 70%;
}
.icons-right, .vol-right{
    border: 1px solid red;
}
.vol-2{
    border-bottom: 5px solid lightgray;
    flex-basis: 100%;
}


@media all and (max-width: 768px){
    .top-aside ul li a, .middle-aside, .aside .bottom-aside ul li a{
        display: none;
    }
    .icons-song{
        flex-direction: column;
    }
    .aside{
        justify-content: space-between;
    }
}
@media all and (max-width: 1160px){
    .box-container{
        justify-content: flex-start;
    }
}
